<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="store" routerLinkActive="active" class="btn btn-light" role="button">Store</a>
            </li>
            <li class="nav-item">
                <a routerLink ="cart" routerLinkActive="active" class="btn btn-light" role="button">Shopping Cart</a>
            </li>
        </ul>
      </div>
  </nav>

  <router-outlet></router-outlet>
</div>


